<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BusinessApp.Properties.Settings.BusinessDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\GIT_Repos\Business-Application\BusinessApp\BusinessApp\bin\Debug\BusinessDB.mdf;Integrated Security=True;Replication=False;Connect Timeout=30;User Instance=False;Context Connection=False"
            providerName="System.Data.SqlClient" />
        <add name="BusinessApp.Properties.Settings.BusinessDBConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BusinessDB.mdf;Integrated Security=True;Replication=False;Connect Timeout=30;User Instance=False;Context Connection=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>

